@font-face {
    font-family: IRANSansWeb;
    src: url(Webfonts/IRANSansWeb_UltraLight.woff) format(woff);
    font-weight: 200;
}

@font-face {
    font-family: IRANSansWeb;
    src: url(Webfonts/IRANSansWeb_Light.woff) format(woff);
    font-weight: 300;
}

@font-face {
    font-family: IRANSansWeb;
    src: url(Webfonts/IRANSansWeb.woff) format(woff);
    font-weight: 400;
}

@font-face {
    font-family: IRANSansWeb;
    src: url(IRANSansWeb_Medium.woff) format(woff);
    font-weight: 500;
}

@font-face {
    font-family: IRANSansWeb;
    src: url(Webfonts/IRANSansWeb_Bold.woff) format(woff);
}

@font-face {
    font-family: IRANSansWeb;
    src: url(Webfonts/IRANSansWeb.woff) format(woff);
    font-weight: 700;
}

@font-face {
    font-family: IRANSansWeb;
    src: url(Webfonts/IRANSansWeb_Black.woff) format(woff);
    font-weight: 900;
}