* {
    box-sizing: border-box;
}

body {
    font-family: "IRANSansWeb";
    direction: rtl;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: #374a5e;
}

h3 {
    font-size: 35px;
    color: #374a5e;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}