@import "fonts";
@import "global";
@import "mixins";
@import "variables";
// .box {
//     @include border_radios(20px);
//     @include tranisition(all .3s);
//     @extend %main-shadow;
//     background: #eee;
//     ;
// }
.logo img {
    height: 62.83px;
}

.logo {
    width: 15%;
    padding-right: 40px;
    border-left: .5px solid rgb(223, 223, 223);
    padding-top: 10px;
    padding-bottom: 10px;
}

.navigation {
    display: flex;
    align-items: center;
    border-bottom: .5px solid rgb(223, 223, 223);
}

.navigation-li ul {
    display: flex;
    font-weight: 600;
}

.navigation-li {
    width: 60%;
}

.navigation-li ul li {
    margin-left: 30px;
}

.call-us a {
    padding: 7px 38px;
    border-radius: 50px;
    background-color: #fc3549;
    color: #ffffff;
    max-width: 183.17px;
    text-align: left;
    box-shadow: 0px 0px 18px #fc35498c;
    ;
}

.call-us {
    display: flex;
    flex-direction: row-reverse;
    width: 25%;
    padding-left: 40px;
}