@font-face {
  font-family: "IRANSansWeb";
  src: url(/Webfonts/IRANSansWeb_UltraLight.woff) format("woff");
  font-weight: 200;
}
@font-face {
  font-family: "IRANSansWeb";
  src: url(/Webfonts/IRANSansWeb_Light.woff) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "IRANSansWeb";
  src: url(/Webfonts/IRANSansWeb.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "IRANSansWeb";
  src: url(/Webfonts/IRANSansWeb_Medium.woff) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "IRANSansWeb";
  src: url(/Webfonts/IRANSansWeb_Bold.woff) format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "IRANSansWeb";
  src: url(/Webfonts/IRANSansWeb_Black.woff) format("woff");
  font-weight: 900;
}
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("../../Webfonts/Material.woff2") format("woff2");
}
* {
  box-sizing: border-box;
}

body {
  font-family: "IRANSansWeb";
  direction: rtl;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: #374a5e;
}

h3 {
  font-size: 35px;
  color: #374a5e;
  padding: 0;
  margin: 0;
}

.container, .left-side, .hero-section {
  max-width: 1140px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.w-half {
  width: 50%;
}
@media screen and (max-width: 767px) {
  .w-half {
    width: 100%;
  }
}

.logo img {
  height: 62.83px;
}

.logo {
  width: 15%;
  padding-right: 40px;
  border-left: 0.5px solid rgb(223, 223, 223);
  padding-top: 10px;
  padding-bottom: 10px;
}

.navigation {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid rgb(223, 223, 223);
  background-color: #ffffff;
}

.navigation-li ul {
  display: flex;
  font-weight: 600;
}

.navigation-li {
  width: 60%;
}

.navigation-li ul li {
  margin-left: 30px;
}

.call-us a {
  padding: 7px 38px;
  border-radius: 50px;
  background-color: #fc3549;
  color: #ffffff;
  max-width: 183.17px;
  text-align: left;
  box-shadow: 0px 0px 18px rgba(252, 53, 73, 0.5490196078);
}

.call-us {
  display: flex;
  flex-direction: row-reverse;
  width: 25%;
  padding-left: 40px;
}

.hero-section {
  margin-bottom: 200px;
  margin-top: 100px;
}

.hero-subtitle p {
  color: #6610f2;
  padding: 8px 20px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 14px;
  background-color: rgba(103, 16, 242, 0.1450980392);
}

.hero-subtitle {
  display: flex;
  margin-bottom: 28px;
}

.hero-section-wrap > div {
  max-width: 50%;
}

.hero-right-button a {
  color: #ffffff;
  padding: 17px 50px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 30px;
  background-color: #6610f2;
  box-shadow: 0px 0px 18px rgba(103, 16, 242, 0.5058823529);
}

.hero-right-button {
  display: flex;
}

.hero-title {
  margin-bottom: 28px;
}

.hero-description {
  margin-bottom: 28px;
}

.hero-button-group {
  display: flex;
  align-items: center;
}

.hero-middle-button {
  width: 60px;
  height: 60px;
  background-color: rgba(252, 53, 73, 0.0823529412);
  color: #fc3549;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 60px;
  margin: 0 30px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.hero-middle-button:hover {
  transition: all 0.3s ease-out;
  color: #ffffff;
  background-color: #fc3549;
}

@-webkit-keyframes animationleft {
  from {
    right: 0px;
  }
  to {
    right: 30px;
  }
}

@keyframes animationleft {
  from {
    right: 0px;
  }
  to {
    right: 30px;
  }
}
.hero-left-button p {
  font-weight: 600;
  color: #fc3549;
  cursor: pointer;
}

.hero-left-button {
  position: relative;
  width: 30%;
}

.hero-left-button:hover {
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-name: "animationleft";
          animation-name: "animationleft";
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.hero-section-wrap {
  display: flex;
}

.hero-image img {
  width: 90%;
}

.hero-image {
  text-align: center;
  padding-top: 200px;
}

.hero-descrition {
  padding-top: 200px;
}

.hero-back-img {
  position: absolute;
  top: -167px;
  left: 27%;
  z-index: -20;
  margin: auto;
  -webkit-animation: mymove 12s infinite linear;
          animation: mymove 12s infinite linear;
}

@-webkit-keyframes mymove {
  0% {
    transform: rotate(360deg);
  }
}

@keyframes mymove {
  0% {
    transform: rotate(360deg);
  }
}
.left-side {
  display: flex;
  align-items: center;
  margin-right: 101px;
}

.social {
  border-right: 1px solid #c7c7c7;
  padding-right: 25px;
}

.social .fa {
  margin-right: 15px;
}

.fa-dribbble {
  color: #ea4c89;
}

.fa-youtube-play {
  color: #ff0000;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-facebook {
  color: #3b5998;
}

.p-ads-sub-title p {
  color: #fc3549;
  padding: 8px 20px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 14px;
  background-color: #f3e4e9;
  margin-bottom: 20px;
}

.p-ads-sub-title {
  display: flex;
}

.span-underline {
  text-decoration: underline;
  -webkit-text-decoration-color: #f8abb4;
          text-decoration-color: #f8abb4;
}

.the-ads-true-boxs {
  display: flex;
}

.the-ads-true-box1 {
  max-width: 33%;
  padding: 75px;
  transition: all 0.3s;
}

.the-ads-true-box1 i {
  font-size: 70px;
  margin-bottom: 20px;
  transition: all 0.3s;
}

.the-ads-true-title {
  margin-bottom: 110px;
}

.box-description {
  color: #7c7c7c;
}

.fa-gg {
  color: #42ffd6;
}

.fa-forumbee {
  color: #6610f2;
}

.fa-linux {
  color: #fc3549;
}

.the-ads-true {
  background-image: url(/image/features-bg-img.png);
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  padding-bottom: 70px;
}

.box1:hover {
  background-color: #ffffff;
  box-shadow: 0 0 100px 0 #e2e2e2;
  transition: all 0.3s;
  cursor: pointer;
}

.box2:hover {
  background-color: #ffffff;
  box-shadow: 0 0 100px 0 #e2e2e2;
  transition: all 0.3s;
  cursor: pointer;
}

.box3:hover {
  background-color: #ffffff;
  box-shadow: 0px 0px 50px 0 #e2e2e2;
  transition: all 0.3s;
  cursor: pointer;
}

.adds-img img {
  width: 100%;
}

.adds-wraper > div {
  width: 50%;
}

.adds-wraper {
  display: flex;
}

.adds-img {
  padding: 0 0px 0 40px;
}

.discription li::before {
  font-family: FontAwesome;
  content: "\f00c";
  padding-left: 10px;
  color: #42ffd6;
}

.discription ul {
  line-height: 40px;
}

.adds-btn {
  display: flex;
}

.adds-btn a {
  background-color: #00d280;
  padding: 10px 20px;
  color: #ffffff;
  border-radius: 30px;
}

.discription p {
  margin: 60px 0;
  line-height: 35px;
}

.adds-btn a::after {
  font-family: FontAwesome;
  content: "\f060";
  padding: 0 10px 0 0;
  color: #ffffff;
}

.adds {
  margin-bottom: 120px;
}

.adds-discription-subtitle p, .business_subtitle p {
  color: #6610f2;
  padding: 8px 20px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 14px;
  background-color: rgba(103, 16, 242, 0.1450980392);
}

.adds-discription-subtitle, .business_subtitle {
  display: flex;
}

.business_content {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.business_content img {
  width: 30%;
  height: auto;
}/*# sourceMappingURL=style.css.map */