@import "fonts";
@import "global";
@import "mixins";
@import "variables";
// .box {
//     @include border_radios(20px);
//     @include tranisition(all .3s);
//     @extend %main-shadow;
//     background: #eee;
//     ;
// }
.logo img {
    height: 62.83px;
}

.logo {
    width: 15%;
    padding-right: 40px;
    border-left: .5px solid rgb(223, 223, 223);
    padding-top: 10px;
    padding-bottom: 10px;
}

.navigation {
    display: flex;
    align-items: center;
    border-bottom: .5px solid rgb(223, 223, 223);
    background-color: #ffffff;
}

.navigation-li ul {
    display: flex;
    font-weight: 600;
}

.navigation-li {
    width: 60%;
}

.navigation-li ul li {
    margin-left: 30px;
}

.call-us a {
    padding: 7px 38px;
    border-radius: 50px;
    background-color: #fc3549;
    color: #ffffff;
    max-width: 183.17px;
    text-align: left;
    box-shadow: 0px 0px 18px #fc35498c;
    ;
}

.call-us {
    display: flex;
    flex-direction: row-reverse;
    width: 25%;
    padding-left: 40px;
}
.hero-section{
    @extend .container;
}

.hero-subtitle p{
    @include subtitle(#6610f2);
    background-color:#6710f225 ;

}

.hero-subtitle{
    display: flex;
    margin-bottom: 28px;
}

.hero-section-wrap>div{
    max-width: 50%;
}

.hero-right-button a{
    @include button-global(#ffffff,17px 50px,30px);
background-color: #6610f2;
box-shadow: 0px 0px 18px #6710f281;
}

.hero-right-button{
    display: flex;
}

.hero-title{
    margin-bottom: 28px;
}

.hero-description{
    margin-bottom: 28px;
}

.hero-button-group {
    display: flex;
    align-items: center ;}

.hero-middle-button{
    width: 60px;
    height: 60px;
    background-color: #fc354915;
    color: #fc3549;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 60px;
    margin: 0 30px;
    transition: all .3s ease-out ;
    cursor: pointer;}

.hero-middle-button:hover{
    transition: all .3s ease-out;
    color: #ffffff;
    background-color: #fc3549;
}

@keyframes animationleft {
from{right: 0px;}
to{right: 30px;}
}

.hero-left-button p{
    font-weight: 600;
    color: #fc3549;
    cursor: pointer;
}

.hero-left-button{
    position: relative;
    width: 30%;
}

.hero-left-button:hover{
    animation-timing-function: ease-out;
    animation-name: 'animationleft';
    animation-fill-mode: both;
    animation-duration: 1s;
}

.hero-section-wrap{
    display: flex;
}

.hero-image img{
    width: 90%;
}

.hero-image{
    text-align: center;
    padding-top: 200px;
}

.hero-descrition{
    padding-top: 200px;
}

.hero-back-img{
    position: absolute;
    top: -167px;
    left: 27%;
    z-index: -20;
    margin: auto;
    animation: mymove 12s infinite linear;
}

@keyframes mymove {
    0% {transform: rotate(360deg);}
  }

  .left-side{
    @extend .container;
    display: flex;
    align-items: center;
    margin-right: 101px;
  }
  
  .social{
    border-right: 1px solid #c7c7c7;
    padding-right: 25px;
  }

  .social .fa{
    margin-right: 15px;
  }

  .fa-dribbble{
    color: #ea4c89;
  }

  .fa-youtube-play{
    color: #ff0000;
  }

  .fa-twitter{
    color: #1da1f2;
  }

  .fa-facebook{
    color: #3b5998;
  }